<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdviceApp</title>
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header class="hero">
  <div class="header-menu">
    <a href="login.html" class="sign-up"><i class="fas fa-user-plus"></i> </a>
  </div>
  <section id="recommendations" class="recommendations">
    <ul>
      <li th:each="content : ${contents}">
        <div class="recommendation">
          <img th:src="${content.imageUrl} ?: 'https://via.placeholder.com/400'" alt="Recommendation Image">
          <div class="recommendation-details">
            <h3 th:text="${content.title}">Title</h3>
            <p th:text="${content.description}">Description</p>
            <a th:href="${content.link}" class="btn"><i class="fas fa-play"></i> Watch</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</header>
<footer>
</footer>
</body>
</html>
