<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdviceApp</title>
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header class="hero">
    <div class="header-menu">
        <a href="login.html" class="sign-up"><i class="fas fa-user-plus"></i> </a>
    </div>


    <div class="hero-content">
    <h1>Welcome</h1>

    <form class="checkbox-group">
        <legend class="checkbox-group-legend">Choose your content category</legend>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">sports_soccer</i>
                    </span>
                    <span class="checkbox-label">Sport</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">restaurant</i>
                    </span>
                    <span class="checkbox-label">Cooking</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">music_note</i>
                    </span>
                    <span class="checkbox-label">Music</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">palette</i>
                    </span>
                    <span class="checkbox-label">Art</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">computer</i>
                    </span>
                    <span class="checkbox-label">Technology</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">flight</i>
                    </span>
                    <span class="checkbox-label">Travel</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">movie</i>
                    </span>
                    <span class="checkbox-label">Cinema</span>
                </span>
            </label>
        </div>

        <div class="checkbox">
            <label class="checkbox-wrapper">
                <input type="radio" name="interest" class="checkbox-input" />
                <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">style</i>
                    </span>
                    <span class="checkbox-label">Fashion</span>
                </span>
            </label>
        </div>
    </form>

        <form class="checkbox-group">
            <legend class="checkbox-group-legend">Choose a time period</legend>

            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="radio" name="time_period" class="checkbox-input" value="1-2 hours" />
                    <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">access_time</i> <!-- 1-2 hours icon -->
                    </span>
                    <span class="checkbox-label">1-2 Hours</span>
                </span>
                </label>
            </div>

            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="radio" name="time_period" class="checkbox-input" value="2.5-3 hours" />
                    <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">schedule</i> <!-- 2.5-3 hours icon -->
                    </span>
                    <span class="checkbox-label">2-3 Hours</span>
                </span>
                </label>
            </div>

            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="radio" name="time_period" class="checkbox-input" value="3.5-4 hours" />
                    <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">timer</i> <!-- 3.5-4 hours icon -->
                    </span>
                    <span class="checkbox-label">3-4 Hours</span>
                </span>
                </label>
            </div>

            <div class="checkbox">
                <label class="checkbox-wrapper">
                    <input type="radio" name="time_period" class="checkbox-input" value="4.5-5 hours" />
                    <span class="checkbox-tile">
                    <span class="checkbox-icon">
                        <i class="material-icons">alarm</i> <!-- 4.5-5 hours icon -->
                    </span>
                    <span class="checkbox-label">4-5 Hours</span>
                </span>
                </label>
            </div>
        </form>


        <a href="content.html" class="btn">Get Started</a>
    </div>
</header>


<footer>

</footer>
</body>
</html>
